@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: "Sriracha", serif;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte1);
}

html {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;

}

header>h1 {
    font-variant: small-caps;
    font-size: 100px;

}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: chocolate;
}

section {
    padding: 10vh;
    line-height: 30px;

}

section>p {
    padding-bottom: 1em;
    font-size: 35px;
    line-height: 1.5;
    width: 80%;
    /* Ajusta a largura do parágrafo para 80% da tela */
    max-width: 1200px;
    /* Limita a largura máxima */
    margin: 0 auto;
    /* Centraliza o parágrafo horizontalmente */
    text-align: justify;
    /* Justifica o texto, espalhando-o pela largura disponível */
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: darkgrey;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem_clara {
    background-color: darkgrey;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem>p {
    color: white;
}



section#img01 {
    background-image: url("../projeto-cordel/imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url("../projeto-cordel/imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
}


footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}